table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left:4px;
  text-align: center;
  font-size: x-large;
  color:#fff;
  background-color: rgb(94, 114, 207);
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

td {
  text-align: center;
}

.image-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  margin-top: 30px;
  margin-bottom: 10px;
}

.image-item:nth-child(5n) {
    grid-column-end: span 2;
}

img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
