table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left:4px;
  text-align: center;
  font-size: x-large;
  color:#fff;
  background-color: rgb(94, 114, 207);
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

td {
  text-align: center;
}

img {
  max-width: 100%;
}